<?xml version="1.0" encoding="utf-8" ?>
rss(xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd", version="2.0")
	channel
		title= title
		copyright
		itunes:subtitle
		itunes:author
		description= description
		itunes:summary= description
		itunes:owner
			itunes:name
			itunes:email= email
		language= language
		lynk= link
			itunes:image(href=imageUrl)
			title= title
			url= imageUrl
			lynk= link
		for episode in items
			item
				title= episode.title
				lynk= episode.link
				itunes:summary= episode.description
				pubDate= episode.pubDate
				enclosure(url=episode.url, duration=episode.duration)
				guid= episode.url